/*
 * Copyright 2017 Jordan Pelluard, Inc.
 */

/* ---------
--- BASE
--------- */
body {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, a {
    color: #C1272D;
    font-weight: bold;
}

a:hover {
    color: #80171B;
}

label {
    color: #888;
}

p {
    color: #666;
}

.btn-default {
    color: #C1272D;
    background-color: #fff;
    border-color: #C1272D;
    font-weight: bold;
}

.btn-default:hover {
    color: #fff!important;
    background-color: #C1272D!important;
    border-color: #C1272D!important;
    font-weight: bold;
    transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-in;
}


/* ---------
--- MENU
--------- */

.nav.navbar-nav.navbar-right{
  margin-right: 50px;
}

@media (max-width: 767px) {
  .nav.navbar-nav.navbar-right{
    margin-right: 0px;
    margin-left: 3px;
  }
  .navbar-collapse.collapse.in{
    overflow: hidden;
    margin-bottom: 10px;
  }
}

.navbar-inverse {
    background-color: #C1272D!important;
    border-color: #C1272D!important;
}

.navbar-collapse.collapse ul li a {
    color: white;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #80171B!important;
}

/* ---------
--- ERROR FOR SELECT IN FORM
--------- */
/*.form-control + .form-control-feedback {
  right: 12px;
}

.select-style {
  padding: 0;
  margin: 0;
  border: 0 solid transparent;
  border-radius: 4px;
  overflow: hidden;
  background: #fff url('data:image/gif;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==') no-repeat calc(100% - 30px) 50%;
}

.select-style select {
  padding: 5px 8px;
  width: 100%;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: rgba(0, 0, 0, 0.6);
}

.input-group > .select-style {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}*/

/* ---------
--- TABS / MODAL
--------- */

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
}

/* -- DÉBUT DES ONGLETS À MODIFER -- */
.nav-tabs > li > a {
  border: none; color: #666;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: #C1272D !important;
  background: transparent;
}

.nav-tabs > li > a::after {
  content: "";
  background: #C1272D;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.tab-nav > li > a::after {
  background: #C1272D none repeat scroll 0% 0%;
  color: #fff;
}
/* -- FIN -- */

.card {
  width: 90%;
  background: #FFF none repeat scroll 0% 0%;
  margin-bottom: 30px;
}

.modal-header {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* ---------
--- SHOP ????
--------- */

body {
  padding-top: 70px;
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,
.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}