/*
 * Copyright 2017 Jordan Pelluard, Inc.
 */

/* ---------
--- BASE
--------- */
body {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, a {
    color: #C1272D;
    font-weight: bold;
}

a:hover {
    color: #80171B;
}

label {
    color: #888;
}

p {
    color: #666;
}

.btn-default {
    color: #C1272D;
    background-color: #fff;
    border-color: #C1272D;
    font-weight: bold;
}

.btn-default:hover {
    color: #fff!important;
    background-color: #C1272D!important;
    border-color: #C1272D!important;
    font-weight: bold;
    transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-in;
}


/* ---------
--- MENU
--------- */

.nav.navbar-nav.navbar-right{
  margin-right: 50px;
}

@media (max-width: 767px) {
  .nav.navbar-nav.navbar-right{
    margin-right: 0px;
    margin-left: 3px;
  }
  .navbar-collapse.collapse.in{
    overflow: hidden;
    margin-bottom: 10px;
  }
}

.navbar-inverse {
    background-color: #C1272D!important;
    border-color: #C1272D!important;
}

.navbar-collapse.collapse ul li a {
    color: white;
}

/* Survole pour le menu qui change de couleur */
.navbar-inverse .navbar-nav>.active>a {
    background-color: #80171B!important;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:active, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a.active {
    background-color: #80171B!important;
    border: transparent 0px;
}

/* -- Liens du menu dans Profil (changement de couleur et tout le tralala) -- */
.dropdown-menu > li > a {
    background-color: #C1272D;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a.active  {
    background-color: #80171B;
}

/* Pas de marge dans le menu de Profil*/
.navbar-nav>li>.dropdown-menu {
    padding: 0;
}
/* -- FIN -- */

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #80171B;
}

/* ---------
--- MENU - SMARTPHONE
--------- */
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

/* ---------
--- TABS / MODAL
--------- */

.nav-tabs {
  border-bottom: none;
    margin-left: auto;
  margin-right: auto;
}

.modal #presentation .nav-tabs > li.active > a, .nav-tabs > li > a {
    width: 100%;
    text-align: center;
    background-color: #C1272D;
}

.modal #presentation .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    background-color: #80171B;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
}

/* -- DÉBUT DES ONGLETS À MODIFER -- */
.nav-tabs > li > a {
  border: none; 
    color: white;
}

.modal li {
    width: 50%;
    float: left;
}

/*.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: #C1272D !important;
  background: transparent;
}*/

/*.nav-tabs > li > a::after {
  content: "";
  background: #C1272D;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}*/

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.tab-nav > li > a::after {
  background: #C1272D none repeat scroll 0% 0%;
  color: #fff;
}

.modal-header {
    border-bottom: 0px;
}
/* -- FIN -- */

.card {
  width: 90%;
  background: #FFF none repeat scroll 0% 0%;
  margin-bottom: 30px;
}

.modal-header {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.modal .nav li a {
    padding: 10px 10px;
}

/* ---------
--- SHOP ????
--------- */

body {
  padding-top: 70px;
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,
.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}


/* ---------
--- PROFIL
--------- */

.col-lg-12 {
    margin-bottom: 20px;
}

.page-header {
    padding-bottom: 0px!important;
    margin: 0px!important;
    border-bottom: none;
}

.col-lg-12 p {
    margin: 0px;
    color: #999;
}

.col-centered .intituler {
    color: #C1272D;
    font-weight: bold;
    margin: -5px;
}

.btn-modif {
    border-color: transparent;
    background-color: transparent;
}

.modif {
    margin-top: 10px;
}


/* ---------
--- FOOTER
--------- */

footer {
    width: 100%;
    padding: 10px;
    /*background-color: #EFEFEF;*/
    text-align: center;
}

/* ---------
--- BOUTON ADMIN UPLOAD
--------- */
.fileUpload.btn.btn-success {
    width: 100%;
}
