Options +FollowSymlinks
RewriteEngine on

RewriteCond $1 !^(index\.php|fiche_produit|css|gfx|js|swf|robots\.txt|favicon\.ico)

RewriteRule ^fiche_produit/([0-9]+) fiche_produit.php?id=$1

RewriteCond %{REQUEST_URI} !-d
RewriteRule ^([^/]+)/$ $1.php [L]

ErrorDocument 404 http://localhost/lokisalle/404/
ErrorDocument 500 http://localhost/lokisalle/404/